* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-load-container {
  background-image: url("./images/starrysky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e8e6e6;
  font-size: 30px;
  font-weight: 700;
  background-color: #e8e6e64a;
}

.app-load-container img {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  width: 100px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.main-content-wrapper {
  background-image: url("./images/meteorshower.jpg");
  background-size: cover;
  background-position: center;
}

.loader-container {
  background: rgba(255, 255, 255, 0) url("./images/spinner.gif") center
    no-repeat;
  z-index: 1;
}

.sky-background {
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1773px 184px #fff,
    1552px 988px #fff,
    97px 55px #fff,
    1770px 447px #fff,
    131px 580px #fff,
    199px 854px #fff,
    664px 359px #fff,
    1319px 81px #fff,
    1415px 37px #fff,
    70px 666px #fff,
    582px 973px #fff,
    1361px 63px #fff,
    512px 431px #fff,
    1323px 48px #fff,
    200px 769px #fff,
    1224px 467px #fff,
    1882px 467px #fff,
    1669px 73px #fff,
    659px 520px #fff,
    353px 472px #fff,
    1357px 230px #fff,
    1719px 621px #fff,
    1259px 641px #fff,
    833px 193px #fff,
    831px 308px #fff,
    1246px 916px #fff,
    865px 696px #fff,
    606px 784px #fff,
    1820px 534px #fff,
    1292px 150px #fff,
    1070px 661px #fff,
    380px 114px #fff,
    1015px 453px #fff,
    529px 962px #fff,
    18px 383px #fff,
    1853px 849px #fff,
    1239px 691px #fff,
    1674px 571px #fff,
    1793px 520px #fff,
    801px 850px #fff,
    1465px 818px #fff,
    489px 424px #fff,
    949px 858px #fff,
    1402px 873px #fff,
    427px 361px #fff,
    1675px 96px #fff,
    1362px 643px #fff,
    1628px 649px #fff,
    1283px 237px #fff,
    816px 882px #fff,
    1671px 715px #fff,
    1664px 239px #fff,
    145px 803px #fff,
    1570px 870px #fff,
    723px 809px #fff,
    1273px 218px #fff,
    1711px 217px #fff,
    1394px 905px #fff,
    1391px 524px #fff,
    714px 413px #fff,
    1218px 709px #fff,
    6px 112px #fff,
    1356px 878px #fff,
    636px 368px #fff,
    845px 170px #fff,
    1849px 381px #fff,
    1486px 634px #fff,
    1206px 277px #fff,
    836px 93px #fff,
    714px 674px #fff,
    1291px 123px #fff,
    1147px 220px #fff,
    1486px 187px #fff,
    1919px 268px #fff,
    626px 893px #fff,
    1228px 582px #fff,
    662px 970px #fff,
    161px 639px #fff,
    78px 260px #fff,
    428px 551px #fff,
    1681px 602px #fff,
    1565px 412px #fff,
    1894px 93px #fff,
    1155px 530px #fff,
    1232px 259px #fff,
    92px 793px #fff,
    394px 55px #fff,
    313px 380px #fff,
    334px 185px #fff,
    1736px 829px #fff,
    959px 575px #fff,
    1608px 969px #fff,
    1768px 370px #fff,
    854px 22px #fff,
    98px 829px #fff,
    888px 250px #fff,
    1885px 315px #fff,
    1151px 951px #fff,
    700px 499px #fff,
    1878px 264px #fff,
    157px 303px #fff,
    15px 438px #fff,
    1165px 430px #fff,
    1245px 791px #fff,
    987px 313px #fff,
    230px 448px #fff,
    238px 827px #fff,
    243px 678px #fff,
    1278px 390px #fff,
    1450px 155px #fff,
    1472px 390px #fff,
    1091px 552px #fff,
    1270px 125px #fff,
    1642px 166px #fff,
    303px 554px #fff,
    1595px 31px #fff,
    251px 67px #fff,
    646px 816px #fff,
    782px 581px #fff,
    498px 357px #fff,
    651px 546px #fff,
    1655px 414px #fff,
    1480px 970px #fff,
    1503px 380px #fff,
    1753px 214px #fff,
    1117px 994px #fff,
    670px 717px #fff,
    538px 324px #fff,
    1823px 207px #fff,
    809px 115px #fff,
    1410px 863px #fff,
    1531px 160px #fff,
    1226px 254px #fff,
    51px 723px #fff,
    378px 484px #fff,
    674px 869px #fff,
    1437px 6px #fff,
    1155px 696px #fff,
    131px 334px #fff,
    1458px 446px #fff,
    1688px 583px #fff,
    940px 105px #fff,
    302px 63px #fff,
    925px 795px #fff,
    1752px 358px #fff,
    927px 157px #fff,
    181px 433px #fff,
    809px 671px #fff,
    1917px 57px #fff,
    894px 189px #fff,
    1561px 74px #fff,
    689px 69px #fff,
    486px 101px #fff,
    1757px 880px #fff,
    1046px 538px #fff,
    862px 900px #fff,
    29px 484px #fff,
    1247px 789px #fff,
    1373px 667px #fff,
    1176px 638px #fff,
    1093px 151px #fff,
    1741px 929px #fff,
    1383px 946px #fff,
    1294px 476px #fff,
    454px 572px #fff,
    806px 91px #fff,
    313px 265px #fff,
    1332px 90px #fff,
    896px 864px #fff,
    822px 610px #fff,
    341px 445px #fff,
    689px 802px #fff,
    1437px 792px #fff,
    156px 864px #fff,
    522px 388px #fff,
    323px 482px #fff,
    1692px 814px #fff,
    1289px 136px #fff,
    1811px 915px #fff,
    40px 320px #fff,
    1644px 951px #fff,
    141px 150px #fff,
    1182px 686px #fff,
    460px 122px #fff,
    1441px 671px #fff,
    1365px 330px #fff,
    1894px 487px #fff,
    479px 136px #fff,
    769px 530px #fff,
    1414px 910px #fff,
    1419px 346px #fff,
    398px 976px #fff,
    954px 547px #fff,
    220px 394px #fff,
    96px 667px #fff,
    1247px 917px #fff,
    931px 703px #fff,
    191px 253px #fff,
    196px 280px #fff,
    521px 633px #fff,
    1912px 824px #fff,
    162px 118px #fff,
    1119px 185px #fff,
    1825px 811px #fff,
    1458px 594px #fff,
    1548px 473px #fff,
    1109px 314px #fff,
    842px 208px #fff,
    1697px 283px #fff,
    20px 855px #fff,
    691px 723px #fff,
    1701px 936px #fff,
    579px 663px #fff,
    938px 489px #fff,
    724px 778px #fff,
    932px 344px #fff,
    1865px 507px #fff,
    1876px 662px #fff,
    1177px 588px #fff,
    1822px 519px #fff,
    41px 142px #fff,
    196px 305px #fff,
    890px 411px #fff,
    418px 831px #fff,
    831px 314px #fff,
    1602px 905px #fff,
    1407px 234px #fff,
    1038px 775px #fff,
    595px 493px #fff,
    1694px 502px #fff,
    684px 34px #fff,
    1128px 255px #fff,
    1706px 434px #fff,
    473px 137px #fff,
    1882px 998px #fff,
    130px 833px #fff,
    1361px 381px #fff,
    144px 701px #fff,
    1506px 719px #fff,
    419px 842px #fff,
    1185px 26px #fff,
    626px 870px #fff,
    386px 214px #fff,
    919px 24px #fff,
    503px 692px #fff,
    442px 885px #fff,
    1555px 871px #fff,
    286px 450px #fff,
    1064px 24px #fff,
    359px 528px #fff,
    1341px 666px #fff,
    417px 78px #fff,
    1017px 61px #fff,
    1079px 419px #fff,
    27px 216px #fff,
    317px 675px #fff,
    1068px 75px #fff,
    1001px 266px #fff,
    873px 992px #fff,
    1546px 281px #fff,
    661px 498px #fff,
    1296px 626px #fff,
    314px 546px #fff,
    73px 496px #fff,
    1336px 464px #fff,
    1342px 414px #fff,
    1610px 565px #fff,
    457px 33px #fff,
    1265px 492px #fff,
    602px 933px #fff,
    576px 276px #fff,
    1827px 802px #fff,
    1728px 339px #fff,
    1737px 805px #fff,
    1908px 314px #fff,
    1684px 463px #fff,
    699px 247px #fff,
    1230px 163px #fff,
    1863px 207px #fff,
    1199px 952px #fff,
    1558px 981px #fff,
    205px 383px #fff,
    59px 908px #fff,
    1899px 187px #fff,
    875px 299px #fff,
    540px 842px #fff,
    370px 460px #fff,
    999px 224px #fff,
    66px 221px #fff,
    28px 559px #fff,
    243px 450px #fff,
    492px 781px #fff,
    988px 928px #fff,
    904px 574px #fff,
    1575px 550px #fff,
    426px 386px #fff,
    326px 675px #fff,
    1542px 148px #fff,
    273px 781px #fff,
    1600px 894px #fff;
}

.team-wrapper {
  /* background-image: url('./images/meteorshower.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.team-container {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
