/* Moon background */
.moonWrapper {
  background-image: url("./images/moon5.png");
  background-repeat: no-repeat;
  background-size: calc(140%);
  background-position-x: center;
  background-position-y: 50vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.moonWrapper h1 {
  max-width: 300px;
  padding-top: 6em;
  font-size: 32px;
}
