html,
body {
  height: 100%;
}

.backgroundVideo {
  display: block;
  position: fixed;
  z-index: -1;
  width: 100vw;
}

.mobileBackgroundVideo {
  display: none;
  position: fixed;
  z-index: -1;
  width: 100vw;
}

.moonWrapper {
  background-image: url("./images/Moon.png");
  background-repeat: no-repeat;
  background-size: calc(140%);
  background-position: center;
  background-position-y: 20vh;
  width: 100%;
  height: 100vh;
}

@media (max-width: 600px) {
  .moonWrapper {
    background-position-y: 50vh;
  }
}
@media (max-width: 425px) {
  .moonWrapper {
    background-position-y: 55vh;
  }
}

@media (max-width: 950px) {
  .backgroundVideo {
    display: none;
  }
  .mobileBackgroundVideo {
    display: block;
  }
}
